@font-face {
    font-family: Nasa;
    src: url("../fonts/nasalization-rg.ttf");
}

body{
    background-color: #e1e1e1;
    font-family: Nasa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav{
    border-radius: 20px;
    margin-top: 10px;
    /* position: fixed;
    top: 0;
    z-index: 1; */
}

.navb-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}


.nav-link{
    font-size: 20px;
}
/* ------------------------------------------------- */

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}
  
input[type=file] {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
}
  
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}
  
input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}


.tags{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tags .tag{
    padding: 5px;
    margin: 5px;
    border: 1px solid;
    border-radius: 10px;
}

.tags .tag-select{
    padding: 5px;
    margin-left: 5px;
    border: 1px solid;
    border-radius: 10px;
    color: white;
    background-color: black;
}

.tags .tag:hover{
    cursor: pointer;
}

.tags .tag-select:hover{
    cursor: pointer;
}

/* media query */
@media screen and (min-width:576px){
    .nav{
        width: 550px;
    }

    .navbar-list{
        margin-left: 10%;
    }

    .main{
        width: 40%;
    }
}

@media screen and (min-width:768px){
    .nav{
        width: 700px;
    }

    .navbar-list{
        margin-left: 14%;
    }

    .main{
        width: 40%;
    }
}

@media screen and (min-width:992px){
    .nav{
        width: 800px;
    }

    .navbar-list{
        margin-left: 17%;
    }

    .main{
        width: 40%;
    }
}

@media screen and (min-width:1200px){
    .nav{
        width: 900px;
    }

    .navbar-list{
        margin-left: 20%;
    }

    .main{
        width: 40%;
    }
}